@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neon-blink {
  0%, 100% {
    opacity: 1;
    color: #eaff00;
    filter: drop-shadow(0 0 8px #eaff00) drop-shadow(0 0 24px #eaff00);
  }
  50% {
    opacity: 0.6;
    color: #eaff00;
    filter: drop-shadow(0 0 2px #eaff00) drop-shadow(0 0 8px #eaff00);
  }
}

.neon-blink {
  animation: neon-blink 1.8s infinite alternate;
}

/* Nasconde la scrollbar su tutti i browser */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes spin-slow {
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 2s linear infinite; /* 25% più lento di 1s */
}

